.video_url_con{
  display: none;
}
.w50{
  text-align: center;
  width: 50px;
}
.w100{
  text-align: center;
  width: 100px;
}
.w200{
  text-align: center;
  width: 200px;
}
.w300{
  text-align: center;
  width: 300px;
}
.w400{
  text-align: center;
  width: 400px;
}
